<section class="intro">
  <div class="container">
    <p class="lead">Hi, mình là Phong, kỹ sư web.</p>
    <p>Mình viết về phát triển web, front-end tích hợp, JavaScript cùng với Node, React và Vue. Thi thoảng mình cũng sẽ viết về những thứ thú vị khác như Unix/Linux, chuyện code, chuyện đi làm, chuyện linh tinh đủ thứ.</p>
    <p>Giữ liên lạc với mình tại: <a href="https://facebook.com/phongisntreal">Facebook</a>, <a href="https://instagram.com/phongisntreal">Instagram</a>, <a href="https://github.com/bodetaima">GitHub</a> hoặc <a href="mailto:tranphongbb@outlook.com">email cho mình</a> nhé.</p>
  </div>
</section>
